@media only screen and (min-width: 768px)
{

}
.mainImage 
{
    z-index: 0;
    background: url("assets/background.png");
    padding:0;
    color:white;
    font-weight: bold;
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 400px;
}
.navbar-custom
{
    color:white !important;
}

.myTitle
{
    font-size: 30px;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 20px;
}
.paragraph 
{
    font-size: 20px;
}
.logContainer .weekLog
{
    font-weight: bold;
    margin-top: 25px;
}
.logContainer .weekLog .detail
{
    font-weight: normal;
}

.developerName
{
    font-weight: bold;
}
.title
{
    font-weight: bold;
    font-size: 30px;
}
.myFooter 
{
    margin-top: 50px;
    width: 100vw;
    background-color: #343A40;
    color: white;
}
.myFooter .lead 
{
    text-align: center;
    padding-top:15px;
    padding-bottom:15px;
    font-size: 15px;

}